<div class="ui top menu" style="height:50px">
    <div class="left menu">Treayo Logo</div>
    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search users...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search location...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
</div>