<!-- ----------------------------Side bar events starts----------------------------- -->
<div id="sidebar">
	<stimuli-events-sidebar></stimuli-events-sidebar>	
</div>
<!-- ----------------------------Side bar events ends----------------------------- -->

<!-- ------------------------------Landing Contents starts------------------------------------ -->
<div id="content-wrap">
	<stimuli-landing-content></stimuli-landing-content>
</div>
<!-- ------------------------------Landing Contents ends------------------------------------ -->