<div style="padding-top:15px;"></div>
<h2 class="ui center aligned icon header">
  <i class="circular tags icon"></i>
  Categories
</h2>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui blue image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui yellow image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui blue image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui yellow image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui blue image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui yellow image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>
<div style="padding-top:15px; padding-left:15px; float:left;">
	<a class="ui blue image label">
	  <img src="../../../../assets/images/1.png">
	  <div class="detail">Friend</div>
	</a>
</div>